# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Python tools
.pytest_cache/
.mypy_cache/

# Logs
*.log

uploads/
*.pdf
node_modules/
build/